@charset "UTF-8";


@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
	*{
		font-family: 'OTWelcomeBA';
	}
	.headerlogo{
		font-size: 2rem;
	}
	#headermenu{
		margin-left: 20px;
		color: black;
	}
	.carousel-item img{
		width: 100%;
	}
	

